services:
  mongo:
    image: mongo:8
    restart: always
    volumes:
      - /mongo/gfb:/data/db
    env_file:
      - envs/mongo.env
  gfb:
    image: kju7pwd2/guardian_for_bikers:latest
    restart: always
    env_file:
      - envs/gfb.env
    depends_on:
      - mongo