name: Docker Image CI
on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Read version from package.json
      id: get_version
      run: |
        BRANCH=${GITHUB_REF##*/}
        VERSION=$(jq -r .version ./src/package.json)
        LATEST="latest"
        echo "version=$VERSION" >> $GITHUB_OUTPUT

        if [ "$BRANCH" != "main" ]; then
          SAFE_BRANCH=$(echo "$BRANCH" | tr '/' '-')
          VERSION="${VERSION}_${SAFE_BRANCH}"
          LATEST="latest_${SAFE_BRANCH}"
        fi

        echo "version=$VERSION" >> $GITHUB_OUTPUT
        echo "latest=$LATEST" >> $GITHUB_OUTPUT
    - name: Build the Docker image guardian_for_bikers
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64/v8
        tags: ${{ secrets.DOCKER_USER }}/guardian_for_bikers:${{ steps.get_version.outputs.version }}, ${{ secrets.DOCKER_USER }}/guardian_for_bikers:${{ steps.get_version.outputs.latest }}